header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.header-img {
  width: 20%;
  height: 100%;
}
.header-img img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width: 40%;

}
.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
li {
  list-style: none;


}
a {
  text-decoration: none;
}
.nav-item {
  color: #a9a9a9;
  font-size: 20px;
}

.title {
  margin-top: 20px;
  position: relative;
}

.title-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.title-img img {
  width: 60%;
}

.title-header {
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  color:#c71585;
}
.title-header span {
  color: #20b2aa;
}


.title-text {
  position: absolute;
  top:10%;
  left: 20%;
}

.title-inner {
  color: #c71585;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.title-inner span {
  color: #20b2aa;
}
.inner-text {
  color: #696969;
  margin-top: 0;
}
.subtitle {
  font-family: 'Indie Flower', cursive;
  color: #c71585;
  margin-bottom: 0;
}
.header-ttl {
  margin-top: 0;
  color: #696969;
}
.news {
  margin: 150px 0;
  display: flex;
  justify-content: center;
}
.news-box {
  width: 60%;
}
.news-list {
  width: 100%;
  border-bottom: solid 1px #dcdcdc;

}
.news-table {
  width: 100%;
  border-bottom: solid 2px #dcdcdc;
  border-top: solid 2px #dcdcdc;
  padding-top: 20px;
  padding-bottom: 50px;
}

.news-content {
  color: #696969;
}

.news-content span {
  display: inline-block;
  width: 100px;
  background-color: #c71585;
  color: white;
  text-align: center;
  margin: 0 30px;
  border-radius: 20px;
}
.about {
  background-color: #f5f5f5;
  height: 600px;
}
.about-box {
  position: relative;
}
.about-box-img {
  width: 30%;
  height: 300px;
  position: absolute;
  top: 40px;
  right: 200px;
}
.about-box-img img {
  width: 100%;
  height: 100%;
  
}
.about-box-text {
  color: #696969;
  position: absolute;
  top: 40px;
  left: 200px;
  font-size: 16px;
  line-height: 30px;
}
.about-title {
  display: flex;
  justify-content: center;
}

.about-title-box {
  width: 40%;
  text-align: center;
  margin-top: 20px;
}
.about-title-box h2 {
  font-size: 25px;
}
.service {
  margin: 50px 0;
}
.box-img1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-img1 img {
  width: 70%;
  height: 70%;
}
.box-img2 {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.box-img2 img {
  width: 90%;
  height: 100%;
}

.service-box {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  margin: 40px 200px;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #c71585;
  color:white;
}
.box1 h3 {
  text-align: center;
  font-size: 25px;
}
.box1 p {
  margin: 20px 40px;
  line-height: 30px;
  font-size: 20px;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #ee82ee;
  display: flex;
  align-items: center;
}
.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #da70d6;
  display: flex;
  align-items: center;
}
.service-box-content {
  color:white;
  width: 70%;
  margin: 0 20px;
}
.box-text2 {
  font-size: 20px;
}
.service-title {
  margin-left: 200px;
}
.box-content {
  width: 25%;
  height: 400px;
  position: relative;
  border-radius: 20px;
  background: white;
}
.box-content img {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0;
}
.blog {
  background-color: #f5f5f5;
  height: 800px;
}
.blog-box {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 150px;
}
.blog-title {
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 190px;
}
.blg-box-text {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #c71585;
  display: block;
  width: 80px;
  height: 40px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  border-top-left-radius: 20px;
}
.blog-guide {
  border-radius: 0 0 20px 20px;
}
.blog-guide h3 {
  padding: 0 10px;
  font-size: 18px;
  color: #696969;
}
.box-content-tag {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.box-content-tag p {
  display: inline-block;
  color: #696969;
  margin-top: 40px;
}
.blg-btn {
  height: 100px;
  margin: 50px;
  display: flex;
  justify-content: center;
}
.blg-btn a {
  height: 70%;
  width: 20%;
  display: block;
  background: white;
  border: solid 2px #c71585;
  border-radius: 50px;
  text-align: center;
  color: #c71585;
  font-size: 25px;
  padding-top: 30px;
}

